## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/Admin/Desktop/Class_Folder/World_Weather_Analysis_II/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Noumea,NC,-22.2763,166.4572,84.18,99,63,7.87,broken clouds
1,1,Katsuura,JP,35.1333,140.3000,48.18,81,95,9.40,overcast clouds
2,2,Husavik,IS,66.0449,-17.3389,42.71,89,100,25.08,overcast clouds
3,3,Ordynskoye,RU,54.3656,81.8994,2.80,98,70,8.21,broken clouds
4,4,Yellowknife,CA,62.4560,-114.3525,2.41,58,0,2.30,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                            (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.count()

Unnamed: 0             229
City                   229
Country                229
Lat                    229
Lng                    229
Max Temp               229
Humidity               229
Cloudiness             229
Wind Speed             229
Current Description    229
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Noumea,NC,-22.2763,166.4572,84.18,99,63,7.87,broken clouds
6,6,Meulaboh,ID,4.1363,96.1285,77.63,85,100,4.70,overcast clouds
7,7,Koumac,NC,-20.5667,164.2833,81.86,74,100,4.68,overcast clouds
13,13,Hilo,US,19.7297,-155.0900,80.33,77,75,11.50,broken clouds
15,15,Pisco,PE,-13.7000,-76.2167,78.85,61,0,8.05,clear sky
...,...,...,...,...,...,...,...,...,...,...
671,671,Gorom-Gorom,BF,14.4439,-0.2361,86.77,21,46,10.83,scattered clouds
673,673,Barra,BR,-11.0894,-43.1417,79.59,65,100,7.25,overcast clouds
675,675,Omboue,GA,-1.5746,9.2618,79.72,87,100,4.97,light rain
678,678,Mattru,SL,7.6244,-11.8332,77.04,72,77,3.98,broken clouds
680,680,Banjar,ID,-8.1900,114.9675,78.66,92,95,3.42,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Noumea,NC,84.18,broken clouds,-22.2763,166.4572,
6,Meulaboh,ID,77.63,overcast clouds,4.1363,96.1285,
7,Koumac,NC,81.86,overcast clouds,-20.5667,164.2833,
13,Hilo,US,80.33,broken clouds,19.7297,-155.0900,
15,Pisco,PE,78.85,clear sky,-13.7000,-76.2167,
16,Saquarema,BR,84.22,clear sky,-22.9200,-42.5103,
17,Kapaa,US,78.78,moderate rain,22.0752,-159.3190,
19,Rikitea,PF,79.50,light rain,-23.1203,-134.9692,
24,San Marcos,US,87.48,clear sky,33.1434,-117.1661,
25,Pacific Grove,US,80.58,clear sky,36.6177,-121.9166,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Noumea,NC,84.18,broken clouds,-22.2763,166.4572,Hôtel Le Lagon
6,Meulaboh,ID,77.63,overcast clouds,4.1363,96.1285,Kost Pria
7,Koumac,NC,81.86,overcast clouds,-20.5667,164.2833,Le Monitel
13,Hilo,US,80.33,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Pisco,PE,78.85,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
...,...,...,...,...,...,...,...
671,Gorom-Gorom,BF,86.77,scattered clouds,14.4439,-0.2361,
673,Barra,BR,79.59,overcast clouds,-11.0894,-43.1417,Motel Albatroz
675,Omboue,GA,79.72,light rain,-1.5746,9.2618,Hotel Olako
678,Mattru,SL,77.04,broken clouds,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
680,Banjar,ID,78.66,overcast clouds,-8.1900,114.9675,The Hamsa Resort

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(subset = ["Hotel Name"], inplace = True)

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
pip install jupyter nbextension enable --py --sys-prefix gmaps

Note: you may need to restart the kernel to use updated packages.

Usage:
  C:\Users\Admin\anaconda3\envs\PythonData\python.exe -m pip install [options] <requirement specifier> [package-index-options] ...
  C:\Users\Admin\anaconda3\envs\PythonData\python.exe -m pip install [options] -r <requirements file> [package-index-options] ...
  C:\Users\Admin\anaconda3\envs\PythonData\python.exe -m pip install [options] [-e] <vcs project url> ...
  C:\Users\Admin\anaconda3\envs\PythonData\python.exe -m pip install [options] [-e] <local project path> ...
  C:\Users\Admin\anaconda3\envs\PythonData\python.exe -m pip install [options] <archive url/path> ...

ambiguous option: --py (--pypi-url, --python-version?)

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))